# Get your own Github access token
secrets.config

# Folders generated during runtime
data/
download/
error/
log/
token/
temp/
venv/
# Run time log files
.log

# Generated models
GCodeModel

# Environment folder
vGencode/

# vs congif
.vscode/

.DS_Store


