tqdm                # Progress bar
PyGithub            # Download GitHub repo
black               # Formater
transformers        
torch               # Deplendency for transformers 
datasets
accelerate  #>=0.20.1

urllib3==1.26.18